@page "/"
@inject IJSRuntime jsRuntime

<style>
    /* Container for centering */
    .card-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100%;
        overflow-y: auto; /* Add vertical scroll */
        overflow-x: hidden; /* Disable horizontal scroll */
    }

    /* Card styles */
    .card {
        border-radius: 10px; /* Add rounded corners */
        width: 100%; /* Adjust to fit the screen */
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
        margin: 5px 0; /* Add vertical margin for space between cards */
    }

    /* Card header styles */
    .card-header {
        border-bottom-left-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
    }

    /* Card body styles */
    .card-body {
        padding: 15px;
    }

    /* Card title and location/time styles */
    .card-title-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .job-card-location-time {
        display: flex;
        align-items: center;
    }

    .job-card-location,
    .job-card-posted-date {
        margin-left: 10px;
    }

    .jobs-container {
        display: flex;
        justify-content: space-between;
    }

    .jobs-actions {
        display: flex;
        align-items: center;
    }

    .analyze-all-button {
        margin-right: 10px;
        border-radius: 20px;
        background-color: #ccc;
        padding: 5px 30px;
    }

    .button-text {
        color: #fff;
    }

</style>

@if (loc != null)
{
    @foreach (JobInitService.JobInit j in jobInits)
    {
        @if (j.Jobs.Count < 1)
        {
            return;
        }

        <div class="jobs-container" syle="margin-top:24px">
            <div class="jobs-header">
                <h2>@j.refTitle in @(loc?.Country?.Name ?? "Unknown Location")</h2>
            </div>
            <div class="jobs-actions">
                <div class="analyze-all-button">
                    <span class="button-text">Analyze All</span>
                </div>
                <div class="menu-icon">
                    <i class="fa-solid fa-ellipsis-vertical"></i>
                </div>
            </div>
        </div>

        <div class="card-container">
            @if (j.Jobs != null)
            {
                @foreach (var job in j.Jobs)
                {
                    <div class="card bg-light mb-3 job-card-inner">
                        <div class="card-body job-card-info">
                            <div class="card-title-wrapper">
                                <a href="" class="card-title" target="_blank" rel="noopener noreferrer nofollow">@job.job_job_title</a>
                                <div class="job-card-location-time">
                                    <span class="job-card-location">@job.job_city + @job.job_state</span>
                                    <span class="job-card-extra-divider">&nbsp;·&nbsp;</span>
                                    <span class="job-card-posted-date">@UnixTimeStampToDateTime(job.job_posted_at_timestamp)</span>
                                </div>
                            </div>
                            <div class="job-card-subtitle">
                                <div class="job-card-team-info">
                                    <span>@job.employer_name</span>
                                    <span class="job-card-subtitle-divider">&nbsp;·</span>
                                    <span class="job-card-short-desc"><span class="job-card-subtitle-divider">&nbsp;</span>@job.job_naics_name</span>
                                </div>
                            </div>
                        </div>
                        @if (@job.job_required_skills != null)
                        {
                            <div class="card-header text-white bg-secondary" style="font-size:16px">
                                As @job.job_job_title + @JobDescription(job)
                            </div>
                        }
                    </div>
                }
            }
            else
            {
                <p>Loading jobs...</p>
            }
        </div>

    }
}
else
{
    <p>Loading jobs...</p>
}

@using hr_bot_webapp_v2.Data;
@using hr_bot_webapp_v2.Services;

@inject JobInitService JobInitService
@inject JobSearchService JobSearchService
@inject IPGeoLocationService IPGeoLocationService
@inject Blazored.LocalStorage.ILocalStorageService localStorage

@code {

    private List<JobInitService.JobInit> jobInits = new List<JobInitService.JobInit>();

    IPGeoLocationResponse loc = null;

    protected override async void OnInitialized()
    {
        jobInits = await localStorage.GetItemAsync<List<JobInitService.JobInit>>("JobInits");
        if (jobInits == null)
        {
            jobInits = new List<JobInitService.JobInit>(){
                new JobInitService.JobInit {
                    refTitle = "New jobs",
                    },
                    new JobInitService.JobInit {
                    refTitle = "Popular jobs",
                    },
                    new JobInitService.JobInit {
                    refTitle = "Education Administrator jobs"
            } };
        }
       GetJobInstance();
    }   

    public async Task GetJobInstance ()
    {
        // Generate 10 random jobs
        while (loc?.Country?.Name == null)
        {
            loc = await IPGeoLocationService.GetLocation();

            // If the country is still null, wait for a short delay before trying again
            if (loc?.Country?.Name == null)
            {
                await Task.Delay(1000); // Wait for 1 second
            }
        }

        foreach (JobInitService.JobInit j in jobInits)
        {
            Console.WriteLine("Ref tef > " + j.refTitle);
            var result = await SearchJobs(j.refTitle, loc.Country?.Name);
            j.Jobs = new List<JobData>(result);
        }

        StateHasChanged(); // Request a re-render
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await localStorage.SetItemAsync("Localization", loc);
        await localStorage.SetItemAsync("JobInit", jobInits);
    }

    private async Task<List<JobData>> SearchJobs(string title, string location)
    {
        var response = await JobSearchService.SearchJobs(title, location, 1, 1);
        // Handle the response 
        return response?.data ?? new List<JobData>();
    }

    private string JobDescription(JobData e)
    {
        var sb = new System.Text.StringBuilder();
        for (int i = 0; i < e.job_required_skills.Count(); i++)
        {
            sb.AppendLine(e.job_required_skills[i]);
            if (i < e.job_required_skills.Count - 1) // If it's not the last item
            {
                sb.Append(", ");
            }
        }
        return sb.ToString();
    }

    public static DateTime UnixTimeStampToDateTime(double unixTimeStamp)
    {
        // Unix timestamp is seconds past epoch
        DateTime dateTime = new DateTime(1970, 1, 1, 0, 0, 0, 0, DateTimeKind.Utc);
        dateTime = dateTime.AddSeconds(unixTimeStamp).ToLocalTime();
        return dateTime;
    }
}